<!DOCTYPE html>
<html lang="vi">
<head>
    <title>Thanh Toán | E-Shopping</title>
	<% include partials/head %>    
</head><!--/head-->

<body>
	<% include partials/header %>
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Thanh toán</li>
				</ol>
			</div><!--/breadcrums-->

			
			<div class="review-payment">
				<h2>Review & Payment</h2>
			</div>

			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Hình ảnh</td>
							<td class="description">Mô tả</td>
							<td class="price">Giá</td>
							<td class="quantity">Số lượng</td>
							<td class="total">Thành tiền</td>
							<td></td>
						</tr>
					</thead>
					<tbody>

						<% pList.forEach(function(cItem) { %>
						<tr>
							<td class="cart_product">
								<a href=""><img src="<%= cItem.path_picture %>" width="110" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href=""><%= cItem.name %></a></h4>
								<p><%= cItem.id %></p>
							</td>
							<td class="cart_price">
								<p><%= cItem.price %></p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="<%= cItem.number %>"
										autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price"><%= cItem.price*cItem.number %></p>
							</td>
						
						</tr>
						<% }); %>
						
					</tbody>
				</table>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
					<form action="" method="post">
						<button type="submit" class="btn btn-primary">Thanh Toán</button>
					</form>
				</div>
			</div>
	
			
			

			<!-- <div class="payment-options">
					<span>
						<label><input type="checkbox"> Chuyển tiền qua ngân hàng</label>
					</span>
					<span>
						<label><input type="checkbox"> Kiểm tra tình trạng thanh toán</label>
					</span>
					<span>
						<label><input type="checkbox"> Paypal</label>
					</span>
				</div>
		</div> -->
	</section> <!--/#cart_items-->

	<% include partials/footer %>

    <script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.scrollUp.min.js"></script>
    <script src="/javascripts/jquery.prettyPhoto.js"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>