<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Chỉnh sửa thông tin cá nhân | E-Shopping</title>
    <% include partials/head %>
</head>
<!--/head-->

<body>
    <% include partials/header %>
    <h4>Chỉnh sửa thông tin</h4>
    <section id="form">
        <!--form-->
        <div class="container">

            <div class="login-form">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-sm-4">
                            <p>Tên</p>
                            <input name="txtTen" type="text" value="<%= uItem.fullname %>" />
                        </div>
                        <div class="col-sm-4">
                            <p>Địa chỉ email</p>
                            <input name="txtEmail" type="email" value="<%= uItem.email %>" />
                        </div>
                        <div class="col-sm-4">
                            <p>Số điện thoại</p>
                            <input name="txtSoDienThoai" type="tel" value="<%= uItem.tel %>" />
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-4">
                                <p>Ngày sinh</p>
                                <input name="txtNgaySinh" type="date" value="<%= uItem.birthday %>z" />
                            </div>
                            <div class="col-sm-4">
                                <p>Mã số thuế</p>
                                <input type="text"/>
                            </div>
                            <div class="col-sm-4">
                                <p>Địa chỉ</p>
                                <input name="txtDiachi" type="text" value="<%= uItem.address%>" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 col-sm-offset-11">
                                <button type="submit" onclick="Reset()">Lưu</button>
                            </div>
                        </div>
                </form>

                <!--/login form-->
            </div>
        </div>
    </section>
    <% include partials/footer %>
    <% include partials/javascripts %>

</body>

</html>