<!DOCTYPE html>
<html lang="vi">

<head>
	<title>Chi tiết sản phẩm | E-Shopping</title>
	<% include partials/head %>
</head>
<!--/head-->

<body>
	<% include partials/header %>

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<% include partials/left-list %>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="product-details">
						<!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="<%= pItem.path_picture %>" alt="" />
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">

								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active">
										<a href=""><img src="images/product-details/canon1.jpg" alt=""></a>
										<a href=""><img src="images/product-details/canon2.jpg" alt=""></a>
										<a href=""><img src="images/product-details/canon3.jpg" alt=""></a>
									</div>
									<div class="item">
										<a href=""><img src="images/product-details/canon4.jpg" alt=""></a>
										<a href=""><img src="images/product-details/canon5.jpg" alt=""></a>
										<a href=""><img src="images/product-details/canon6.jpg" alt=""></a>
									</div>
								</div>

								<!-- Controls -->
								<a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								</a>
								<a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								</a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information">
								<!--/product-information-->
								<img src="images/product-details/new.jpg" class="newarrival" alt="" />
								<h2><%= pItem.name %></h2>
								<p>Web ID: <%= pItem.id %></p>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span><%= pItem.price %> ₫</span>
									<label>Quantity:</label>
									<input type="text" value="3" />
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Thêm vào giỏ hàng
									</button>
								</span>
								<p><b>Tình trạng : </b> Còn hàng</p>
								<p><b>Trạng thái : </b> Mới 100%</p>
								<p><b>Thương hiệu : </b><%= pItem.productor %></p>
								<a href=""><img src="images/product-details/share.png" class="share img-responsive"
										alt="" /></a>
							</div>
							<!--/product-information-->
						</div>
					</div>
					<!--/product-details-->

					<div class="category-tab shop-details-tab">
						<!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#related" data-toggle="tab">SẢN PHẨM THƯỜNG ĐƯỢC XEM CÙNG</a></li>
								<li class="active"><a href="#describe" data-toggle="tab">Mô tả sản phẩm</a></li>
								<li><a href="#tag" data-toggle="tab">Tag</a></li>
								<li><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="related">
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/product-details/r1.jpg" alt="" />
												<h2>5.900.000 ₫</h2>
												<p>Canon M10 KIT 15-45mm</p>
												<button type="button" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/product-details/r2.jpeg" alt="" />
												<h2>11.990.000 ₫</h2>
												<p>Máy Ảnh Sony Alpha A6000 + 16-50mm</p>
												<button type="button" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/product-details/r3.jpg" alt="" />
												<h2>2.500.000 ₫</h2>
												<p>Lens Canon 50mm f/1.8 STM </p>
												<button type="button" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/product-details/r4.jpg" alt="" />
												<h2>9.990.000 ₫</h2>
												<p>Máy Ảnh Sony Alpha A6000 </p>
												<button type="button" class="btn btn-default add-to-cart"><i
														class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</button>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="tab-pane fade active in" id="describe">
								<p><%= pItem.descr %></p>
							</div>

							<div class="tab-pane fade" id="tag">
							</div>

							<div class="tab-pane fade" id="reviews">
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>22:41</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>24/04/2019</a></li>
									</ul>
									<p><b>Viết review</b></p>

									<form action="#">
										<span>
											<input type="text" placeholder="Tên của bạn" />
											<input type="email" placeholder="Địa chỉ email" />
										</span>
										<textarea name=""></textarea>
										<b>Đánh giá :</b> <img src="images/product-details/rating.png" alt="" />
										<button type="button" class="btn btn-default pull-right">
											Đăng
										</button>
									</form>
								</div>
							</div>

						</div>
					</div>
					<!--/category-tab-->

					<% include partials/recommeded_item %>


				</div>
			</div>
		</div>
	</section>

	<% include partials/footer %>
	<% include partials/javascripts %>

</body>

</html>