<!DOCTYPE html>
<html lang="vi">

<head>
    <title>Quản lý tài khoản | E-Shopping</title>
    <% include partials/head %>
</head>
<!--/head-->

<body>
    <% include partials/header %>

    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">Quản lý tài khoản</li>
                </ol>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="title text-center">Thông tin cá nhân</h2>
                    <p><%= cItem.fullname %></p>
                    <p><%= cItem.email %></p>
                    <a href="/users/profile/0/edit">Chỉnh sửa</a>
                </div>
                <div class="col-sm-8">
                    <h2 class="title text-center">Thông tin cá nhân</h2>                    
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4>Địa chỉ nhận hàng mặc định</h4>
                                <p><%= cItem.fullname %></p>
                                <p><%= cItem.address %><br /><%= cItem.tel%></p>
                            </div>
                            <div class="col-sm-4">
                                <h4>Địa chỉ thanh toán mặc định</h4>
                                <p><%= cItem.fullname %></p>
                                <p><%= cItem.address %><br /><%= cItem.tel%></p>
                            </div>
                        </div>
                    </div>
                    <a>Chỉnh sửa</a>
                </div>
            </div>
        </div>
    </section>

    <% include partials/footer %>
	<% include partials/javascripts %>
    
</body>

</html>